.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--font-color);
  text-align: center;
  padding: 20px;
  overflow-x: hidden;
}

.errorContent {
  width: 90vw;
  height: auto;
  padding: 20px;
  background-color: var(--secondary-color);
  border: 1px solid var(--detail-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow-color);
  animation: fadeIn 1s ease-in-out;
}

.errorVisual {
  position: relative;
  height: 250px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.fourLeft, .fourRight {
  font-size: 5rem;
  font-weight: bold;
  color: var(--font-color);
  position: relative;
  display: inline-block;
  text-shadow: 0 0 30px var(--shadow-color);
}

.fourLeft {
  margin-right: 50px;
  padding-bottom: 10px;
  z-index: 10;
}

.fourRight {
  margin-left: 50px;
  padding-bottom: 10px;
  z-index: 10;
}

.moon {
  width: 75px;
  height: 75px;
  background: radial-gradient(circle, #f0f0f0 20%, #f0f0f0 60%, #cccccc 80%, #e7e3e3 100%);
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 0 30px var(--font-color), inset 0 0 8px rgba(255, 255, 255, 0);
  z-index: 1;
}

.emoji {
  position: absolute;
  z-index: 3;
  opacity: 0;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  max-width: 100%;
}

.rocket {
  animation: floatRocket 30s infinite cubic-bezier(0.42, 0, 0.58, 1); /* Slower rocket animation */
  font-size: 2.5rem;
  left: -5%;
  bottom: -10%;
}

.satellite {
  animation: floatSatellite 16s infinite cubic-bezier(0.42, 0, 0.58, 1); /* Slower satellite animation */
  font-size: 5.25rem;
  right: -10%;
  top: -10%;
}

.earth {
  animation: floatEarth 22s infinite cubic-bezier(0.42, 0, 0.58, 1); /* Slower earth animation */
  font-size: 2rem;
  left: -5%;
  top: -10%;
}

.stars {
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml,%3Csvg xmlns%3D"http%3A//www.w3.org/2000/svg" width%3D"100" height%3D"100" viewBox%3D"0 0 100 100"%3E%3Cg fill%3D"%23ffffff"%3E%3Ccircle cx%3D"25" cy%3D"25" r%3D"1.5"/%3E%3Ccircle cx%3D"50" cy%3D"10" r%3D"1"/%3E%3Ccircle cx%3D"75" cy%3D"50" r%3D"1.5"/%3E%3Ccircle cx%3D"10" cy%3D"75" r%3D"1"/%3E%3Ccircle cx%3D"50" cy%3D"75" r%3D"1"/%3E%3Ccircle cx%3D"90" cy%3D"90" r%3D"1.5"/%3E%3Ccircle cx%3D"75" cy%3D"75" r%3D"1"/%3E%3Ccircle cx%3D"20" cy%3D"80" r%3D"1.5"/%3E%3C/g%3E%3C/svg%3E') repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.errorTitle {
  font-size: 1rem;
  margin-bottom: 10px;
  color: var(--font-color);
}

.errorMessage {
  font-size: .75rem;
  margin-bottom: 10px;
  color: var(--font-color);
}

.homeLink {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--button-bg-color);
  color: var(--button-font-color);
  border-radius: 10px;
  text-decoration: none;
  font-size: .75rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.homeLink:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-hover-font-color);
}

@keyframes floatRocket {
  0% {
    opacity: 0;
    transform: translate(-100vw, 100vh) rotate(0deg);
  }
  15% {
    opacity: 1;
  }
  50% {
    transform: translate(40vw, -40vh) rotate(0deg);
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(100vw, -100vh) rotate(90deg);
  }
}

@keyframes floatSatellite {
  0% {
    opacity: 0;
    transform: translate(100vw, -100vh) rotate(0deg);
  }
  15% {
    opacity: 1;
  }
  50% {
    transform: translate(-5vw, 40vh) rotate(-45deg);
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-100vw, -5vh) rotate(-90deg);
  }
}

@keyframes floatEarth {
  0% {
    opacity: 0;
    transform: translate(-100vw, -100vh) rotate(-20deg);
  }
  15% {
    opacity: 1;
  }
  50% {
    transform: translate(40vw, 40vh) rotate(50deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(100vw, 100vh) rotate(10deg);
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
