.topUL {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.topUL > li {
  position: relative;
  cursor: pointer;
}

.topUL > li > p {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
  color: var(--font-color);
  font-size: 1rem;
}

/* .topUL > li > p {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
  color: var(--font-color);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out, color 0.3s ease-out;
} */

.topUL > li:hover > p {
  border-radius: 5px;
}

/* .topUL > li:hover > p {
  transform: scaleX(1);
  transform-origin: bottom left;
  color: var(--hover-color);
  border-radius: 5px;
} */

.topUL > li > p::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: var(--detail-color);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

/* .topUL > li > p::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: var(--detail-color);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
} */

.topUL > li:hover > p::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.bottomUL {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  list-style: none;
  margin: 5px 0 0 0;
  padding: 10px;
  width: 175px;
  font-size: 1rem;
  z-index: 100;
}

.bottomUL > li {
  padding: 10px;
  cursor: pointer;
}

.bottomUL > li:hover {
  background-color: var(--detail-color);
  border-radius: 5px;
  color: var(--primary-color);
}

.topUL > li:hover .bottomUL {
  display: block;
}
