.footer {
  position: fixed;
  bottom: -60px;
  left: 0;
  width: 100%;
  background-color: var(--footer-bg-color);
  text-align: center;
  padding: 10px 0;
  z-index: 1000;
  border-top: var(--detail-color) 3px solid;
  font-size: 0.8rem;
  color: var(--footer-font-color);
  transition: bottom 0.5s ease-in-out;
}

.footer.visible {
  bottom: 0;
}

.toggleButton {
  position: fixed;
  bottom: 15px;
  left: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  z-index: 1001;
  border-radius: 50px;
  color: var(--button-font-color);
  font-size: small;
}

.toggleButton:hover {
  background-color: transparent;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  justify-content: center;
}

.footer li {
  margin: 0 15px;
}

.footer p {
  margin: 5px 0;
}

.footer a {
  color: var(--footer-font-color);
  text-decoration: none;
}

.footer a:hover {
  color: var(--hover-color);
}
